<div class="container-fluid p-5">
  <!--first background-->
<!--  <img-->
<!--    src="../../assets/major-bg.jpg"-->
<!--    class="img-fluid img-size position-absolute"-->
<!--  />-->

<!--  <video class="video-fluid z-depth-1" autoplay loop muted>-->
<!--    <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />-->
<!--  </video>-->

  <video autoplay muted loop id="myVideo">
    <source src="https://cdn.videvo.net/videvo_files/video/free/2019-09/originalContent/190828_07_MarinaBayatNightDrone_UHD_01.mp4" type="video/mp4">
  </video>
  <div class="text-right">
      <button type="button" class="btn btn-outline-light p-3 rounded-xlg" (click)="redirection()">JOIN US</button>
  </div>
  <!--heading-->
  <div class="container-fluid" id="heading" style="display: none;">
    <h1 class="display-5 text-light text-center">Welcome to</h1>
    <div class="d-flex justify-content-center">
      <h1
        class="display-1 font-weight-bold orange-border text-center text-light pb-2"
      >
        ken<span class="text-info">way</span>
      </h1>
    </div>
  </div>

  <!--defination-->
  <div class="container" style="margin-top: 200px;">
    <div class="row">
      <div class="col-sm-5  rounded-lg  p-5" style="font-size: 1.1rem">
        <h3 class="display-5 pl-2 left-orange-border text-white">What kenway does?</h3>
        <div class="text-white">
          Kenway helps you to create wonderful blogs and share it with your
          friends and numerous people around the world.
        </div>
      </div>

      <div class="col-sm-2"></div>

      <div class="col-sm-5  rounded-lg  p-5" style="font-size: 1.1rem">
        <div class="text-white">
          Search multiple interesting blogs of differet domains and add people
          you like as friends to see their every blog.
        </div>
      </div>
    </div>
  </div>
</div>
